* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "Bai Jamjuree", sans-serif;
    overflow: hidden;
    color: white;
    background-color: #22222c;
}

.nav-bar ul{
    list-style-type: none;
}

.nav-bar li{
    padding: 10px;
}

.nav-bar {
    position: fixed;
    right: 2em;
    top: 2em;
}

#text {
    color: #c2c3c5;
    padding: 10px;
}

#cursor {
    --strokewidth: 2px;
    --strokecolor: white;
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    transition: 0.15s;
    transform: translate(-50%, -50%);
    opacity: 0;
    /*border-radius: 10%;*/
    pointer-events: none;
    background:
            linear-gradient(to right, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 0,
            linear-gradient(to right, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 100%,
            linear-gradient(to left, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 0,
            linear-gradient(to left, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 100%,
            linear-gradient(to bottom, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 0,
            linear-gradient(to bottom, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 0,
            linear-gradient(to top, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 100%,
            linear-gradient(to top, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 100%;
    background-repeat: no-repeat;
    background-size: 5px 5px;
}

