/* ------- BASICS ------- */

* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(328deg, #22222c, #191037);
}

body {
    cursor: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    font-family: "Bai Jamjuree", sans-serif;
    overflow: hidden;
    color: white;
    background: linear-gradient(328deg, #22222c, #191037);
}

/* ------- BACKGROUND ------- */

#cursor {
    --strokewidth: 2px;
    --strokecolor: white;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background:
            linear-gradient(to right, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 0,
            linear-gradient(to right, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 100%,
            linear-gradient(to left, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 0,
            linear-gradient(to left, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 100%,
            linear-gradient(to bottom, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 0,
            linear-gradient(to bottom, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 0,
            linear-gradient(to top, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 0 100%,
            linear-gradient(to top, var(--strokecolor) var(--strokewidth), transparent var(--strokewidth)) 100% 100%;
    background-repeat: no-repeat;
    background-size: 5px 5px;
}

.lines {
    opacity: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.lines .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 10vh;
    width: 100%;
    top: -50%;
    left: 0;
//background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    background-color: white;
    animation: run 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.lines .line:nth-child(1) {
    margin-left: -30%;
}

.lines .line:nth-child(2) {
    margin-left: -10%;
}

.lines .line:nth-child(1)::after {
    animation-delay: 5s;
}

.lines .line:nth-child(3) {
    margin-left: 10%;
}

.lines .line:nth-child(4)::after {
    animation-delay: 1s;
}

.lines .line:nth-child(4) {
    margin-left: 30%;
}

.lines .line:nth-child(3)::after {
    animation-delay: 2.5s;
}

#grain-effect{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    width: 100%;
    height: 100%;
}

/* ------- FOREGROUND ------- */

.ui {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 10;
    top: 0;
    left: 0;
}

main {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

#left-area {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.nav-bar ul{
    list-style-type: none;
}

.nav-bar li{
    padding: 10px;
}

.nav-bar {
    z-index: 10;
    position: fixed;
    left: 2em;
    top: 2em;
}

#main-header {
    text-align: center;
    font-size: 5vh;
    color: #c2c3c5;
}

#subtext {
    font-size: 3vh;
    text-align: center;
}

#left-area {
    margin: auto;
}

#right-area{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    opacity: 50%;
    z-index: 12;
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 30vw;
    height: 30vw;
    border-style: solid;
    border-width: 1px;
    border-color: white;
;
}
.square:nth-child(2){
    transform: rotate(45deg);
    transition: all 1s ease;
}

/*.square:nth-child(2):hover{
    transform: rotate(180deg);
}*/

.square.turn{
    --square-rotation: 180deg;
    transform: rotate(var(--square-rotation));
}

.square:nth-child(3){
    width: 28.9vw;
    height: 28.9vw;
    background: linear-gradient(45deg, white, white 12%, transparent 10% ),
    linear-gradient(135deg, white, white 12%, transparent 10% ),
    linear-gradient(225deg, white, white 12%, transparent 10% ),
    linear-gradient(315deg, white, white 12%, transparent 10% );
    border-color: transparent;
}

.square:nth-child(4){
    width: 28.9vw;
    height: 28.9vw;
    transform: rotate(45deg);
    background: linear-gradient(45deg, white, white 12%, transparent 10% ),
    linear-gradient(135deg, white, white 12%, transparent 10% ),
    linear-gradient(225deg, white, white 12%, transparent 10% ),
    linear-gradient(315deg, white, white 12%, transparent 10% );
    border-color: transparent;
}

#text {
    margin: auto;
    font-size: 30px;
    text-align: center;
}

#clear-hint {
    margin-bottom: 8px;
    margin-top: auto;
    text-align: center;
    opacity: 50%;
}

/*------- ANIMATIONS -------*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes run {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

/*------- MEDIA QUERIES -------*/

@media only screen and (max-width: 768px) {
    main {
        width: 100%;
        height: 50%;
    }
    #right-area {
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
    .square {
        width: 60vw;
        height: 60vw;
    }
}
