* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #0d1117;
    font-family: Montserrat, serif;
}

#formdiv {
    margin: auto;
    width: 90vw;
    height: 100%;
}

#form {
    margin: auto;
    width: 90vw;
    height: 100%;
}

input, label, select {
    padding: 0.5rem;
    margin: auto;
    display: block;
    margin-top: 1rem;
    color: #c9d1d9;
}

label {
    text-align: center;
}

input, select {
    box-shadow: 3px 3px 6px #050709,
    -3px -3px 6px #151b25;
}

input:valid {
    box-shadow: inset 3px 3px 6px #050709,
    inset -3px -3px 6px #151b25;
}

textarea:focus, input:focus {
    color: #c9d1d9;
    background-color: #151b25;
}

/*!* Change the white to any color *!
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px #151b25 inset !important;
    -webkit-text-fill-color: #c9d1d9 !important;
}*/

/*@-webkit-keyframes autofill {
    0%,100% {
        color: #0d1117;
        background: #0d1117;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; !* Safari support - any positive time runs instantly *!
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #161b22 !important;
    color: #c9d1d9 !important;
    -webkit-box-shadow: 0 0 0 1000px #161b22 inset !important;
    -webkit-text-fill-color: #c9d1d9 !important;
}

input:-webkit-autofill {
    color: #0d1117 !important;
    background-color: #0d1117;
}

input, textarea {
    width: 50%;
    background-color: #161b22;
    border-radius: 10px;
    border: 0;
    font-family: Montserrat, serif;
    height: 1.5rem;
}

select, textarea {
    background-color: #161b22;
    border: 0;
    border-radius: 10px;
    color: #c9d1d9;
    font-family: Montserrat, serif;
}

input[type=submit] {
    box-shadow: 3px 3px 6px #050709,
    -3px -3px 6px #151b25;
    height: 2rem;
    width: 6rem;
}

input[type=submit]:hover {
    box-shadow: inset 3px 3px 6px #050709,
    inset -3px -3px 6px #151b25;
}

footer {
    display: block;
    margin: 5rem;
    align-items: center;
    align-self: center;
}

.loader {
    border: 6px solid #161b22; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    visibility: hidden;
    margin: auto;
    margin-top: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

p {
    margin-top: 4px;
    text-align: center;
    font-size: 10px;
    color: #8d9399;
}
